<div class="min-h-full">
  <nav class="bg-[#66ccff]">
    <div class="mx-[100px] px-4 sm:px-6 lg:px-8">
      <div class="flex h-16 items-center justify-between">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <a routerLink=""><img src="https://res.cloudinary.com/dz4cezwre/image/upload/v1700236415/manhwavn_iiwd32.png" alt=""></a>
          </div>
          <div class="hidden md:block">
            <div class="ml-10 flex items-baseline space-x-4">
              <a *ngFor="let item of menu, let i = index" (click)="handleClick(i)" [routerLink]="item.link" [class]="item.id == classIndex ? isClassSelected : isClass" aria-current="page">{{item.name}}</a>
            </div>
          </div>
        </div>
        <div class="hidden md:block">
          
        </div>
        <div class="-mr-2 flex md:hidden">
          <!-- Mobile menu button -->
          <button type="button" class="relative inline-flex items-center justify-center rounded-md bg-[#66ccff] p-2 text-white hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" aria-controls="mobile-menu" aria-expanded="false">
            <span class="absolute -inset-0.5"></span>
            <span class="sr-only">Open main menu</span>
            <!-- Menu open: "hidden", Menu closed: "block" -->
            <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <!-- Menu open: "block", Menu closed: "hidden" -->
            <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </nav>


  <main>
    <div class="mx-[100px] py-6 sm:px-6 lg:px-8">
    <router-outlet/>
    </div>
  </main>
</div>
